<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstName, "First Name"%><br />
    <%= form.text_field :firstName %>
  </div>

  <div class="field">
    <%= form.label :lastName, "Last Name" %><br />
    <%= form.text_field :lastName %>
  </div>

  <div class="field">
    <%= form.label :email, "Email" %><br />
    <%= form.text_field :email %> <br />
  </div><br />

  <div class="actions">
    <%= form.submit "Register", class: 'btn btn-primary btn-lg'%><br />
  </div>

<% end %>

 
